 
 body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(virus.jpg) no-repeat;
  background-color: #9b1818;
  background-size: cover;
}

#lgnbox{
  width: 500px;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
    border-bottom: 8px solid #bfd414;
}


#textbox{
  font-size= 60px;
}
